.container {
  width: 100%;
  max-width: var(--layout-max-width);
  margin-inline: auto;
  padding-inline: var(--space-4);
}

@media (min-width: 768px) {
  .container {
    padding-inline: var(--space-6);
  }
}

.section {
  display: grid;
  gap: var(--space-4);
  padding-block: var(--space-7);
}

@media (min-width: 768px) {
  .section {
    padding-block: var(--space-8);
  }
}
